body {
  font-family: Arial, Helvetica, sans-serif
  width: 600px;
  margin: 0 auto;
  background-color: #FFC386;/*5F7C8A*/
  padding: 0 20px 20px 20px;
  border: 2px solid black;
}

h2{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

.pageTitle{
   color: grey; 
   font-family: "Lucida Console", "Courier New", monospace; 
   font-size: 25px; 
   font-weight: normal; 
   line-height: 48px; 
   margin: 0;
}

.trTitle{
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.trData{
  font-size: 12px;
  letter-spacing: 0.03em;
}

.content{
  display:flex;
  justify-content: center
}

.cadastro{
  width: 100%;
  max-width: 500px;
}

.form{
  display: flex;
  flex-direction: column;
  background-color: #F5B576;
  max-width: 500px;
  width: 70%;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:  translate(-50%,-50%) /*Centralizando com responsividade*/
}

.form:hover{
  border:1px solid black;
}

.form:focus{
  color: white;
  outline: none;
  border:1px solid black;
}

.field{
  padding:10px;
  margin-bottom: 15px
  border:1px solid #DDD;
  font-size: 16px;
  display:inline-block;
  padding:0.7em;
  margin:0 0.3em ;
  border-radius:0.2em;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  text-align:center;
  position:relative;
}

.submitButton{
   background-color:#CCCCCC; 
   color:#000000
   width: 15%;
   cursor: pointer;
   box-sizing: border-box;
   font-weight:400;
   color:#FFFFFF;
   background-color:#3369ff;
   text-align:center;
}

button{
  cursor:pointer;
}

label {
  font-size: 15px;
  color: #000;
  opacity: .8;
  font-weight: 400;
}

input{
  margin-bottom: 2%;
}

select{
  margin-bottom: 2%;
}

.errortext{
  color: red;
}