body {
  font-family: Arial, Helvetica, sans-serif
  width: 600px;
  margin: 0 auto;
  background-color: #FFC386;/*5F7C8A*/
  padding: 0 20px 20px 20px;
  border: 2px solid black;
}

h2{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

.content{
  display:flex;
  justify-content: center
}

.cadastro{
  width: 100%;
  max-width: 500px;
}

.form{
  display: flex;
  flex-direction: column;
  background-color: #F5B576;
  max-width: 500px;
  width: 70%;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:  translate(-50%,-50%) /*Centralizando com responsividade*/

}

.field{
  padding:10px;
  margin-bottom: 15px
  border:1px solid #DDD;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif
  font-size: 16px;
}

textarea{
  height: : 150px;
}

/*.styled-button {
	font: bold 12px/24px arial, helvetica, sans-aerif;	
	padding:0px;
	text-decoration: none;
	text-align:center;	
	color:#ccc;
	background: #666 url('botao_link.gif')
	 no-repeat center center;	
	width:120px;  
	height:24px;	
	display:block;	
	cursor: pointer;
}*/
